.myClass {
    display: flex;
    margin-left: 20px;
    padding: 25px 25px 25px 25px;
    flex-direction: column;
}

.inputForSearch {
    display: flex;
    width: 110px;
    height: 18px;
}

.buttonForSearch {
    display: flex;
    height: 18px;
    width: 55px;
    border-radius: 8px;
    font-size: 11px;
}
