.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 30px;*/
    background-color: greenyellow;
    position: fixed;
    height: 70px;
    width: 100%
}

.wrapper {
    display: flex;
}

.header_cart-btn-wrapper {
    justify-content: flex-end;
}

.mrs {
    display: flex;
    grid-column-gap: 130px;
}

.NavLink {
    text-decoration: none;
}

.mrs2 {
    grid-column-gap: 38px;
    /*text-decoration: none;*/
}

.endPoint {
    display: flex;
    justify-content: flex-end;
}
