.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 30px;*/
    background-color: greenyellow;
    position: fixed;
    height: 70px;
    width: 100%
}

.wrapper {
    display: flex;
}

.header_cart-btn-wrapper {
    justify-content: flex-end;
}

.mrs {
    display: flex;
    grid-column-gap: 28px;
}
