.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: greenyellow;
}

.wrapper {
    display: flex;
}

.header_cart-btn-wrapper {
    justify-content: flex-end;
}
