.search {
    background-color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.searcher {
    background-color: white;
    border: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
