body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1080px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  color: white;
}

li {
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

button {
  border-radius: 5px;
}

button:hover {
  background-color: #f1f1f1;
}

.h22 {
  font-size: 16px;
}

.h111 {
  font-size: 17px;
}

p {
  font-size: 11px;
}
